<h2 mat-dialog-title>{{ data.messageKey | translate }}</h2>
@if (data.extraMessage) {
  <div mat-dialog-content>{{ data.extraMessage }}</div>
}
<div mat-dialog-actions class="confirm-dialog-button-row">
  <button mat-stroked-button (click)="dialogRef.close(false)">{{ (data.cancelLabelKey ?? 'sessions.confirmCancel') | translate }}</button>
  <button mat-raised-button [color]="data.confirmColor ?? 'warn'" (click)="dialogRef.close(true)">
    {{ (data.confirmLabelKey ?? 'sessions.confirmYesDelete') | translate }}
  </button>
</div>
